<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>teamID</key>
    <string>%TEAM_ID%</string>
    <key>method</key>
    <string>%METHOD%</string>
    <key>signingStyle</key>
    <string>%SIGNING_STYLE%</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>%PROVISIONING_PROFILE_KEY%</key>
        <string>%PROVISIONING_PROFILE_STRING%</string>
    </dict>
</dict>
</plist>
